.submitbtn
{
    background-color: #33a036; 
    color: white;
    padding: 15px 32px;
    margin-top: 20px;
}

.submitbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.szczepienieRegister
{
    display: flex;
    float: left;
    width: 100vh;
    justify-content: flex-end;
    padding-right: 10vh;
}

.punktData
{
    float: left;
    padding-top: 26px;
}

.szczepienieForm
{
    display: flex;
    flex-direction: column;
}

label
{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

